.comment-item {
    display: flex;
    align-items: stretch;
    padding: 10px 0px 0px 0px;
    border-bottom: 1px solid #d9e9ff;
  }
  
  .comment-profile {
    flex-shrink: 0;
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  
  .comment-profile .profile-container {
    transform: scale(0.8);
    transform-origin: center;
  }
  
  .comment-main {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .comment-content {
    flex-grow: 1;
    text-align: left;
    padding-right: 15px;
    display: flex;
    align-items: center;
  }
  
  .comment-content p {
    margin: 0;
  }
  
  .comment-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 10px;
  }
  
  .comment-actions {
    margin-bottom: 5px;
  }
  
  .comment-actions button {
    padding: 4px 8px;
    border: 1px solid #00518D;
    background-color: white;
    color: #00518D;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .comment-actions button:first-child {
    margin-right: 10px;
  }
  
  .date {
    font-size: 12px;
    color: #7D7D7E;
  }
  
  textarea {
    width: 100%;
    min-height: 60px;
    margin-bottom: 10px;
  }
  