/* CommentList.css */
.comment-list {
  margin: 20px 30px;
}

.comment-count {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 5px;
  font-size: 14px;
}

.count-number {
  font-size: 1.2em;
  color: #00518D;
  font-weight: bold;
  font-size: 18px;
}


/* 댓글 없을 때 메시지 스타일 */
.no-comments {
  text-align: center;
  padding: 20px;
  color: #666;
}

/* 로딩 및 에러 메시지 스타일 */
.loading, .error {
  text-align: center;
  padding: 20px;
  color: #666;
}
