  .add-bookmark-modal {
    background-color: white;
    width: 420px; /* 모달 가로 크기 */
    border-radius: 10px; /* 모서리 둥글게 */
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px; /* 그림자 효과 */
  }
  
  .add-bookmark-modal-header {
    display: flex;
    justify-content: space-between; /* 제목과 닫기 버튼 좌우 배치 */
    padding: 16px;
    border-bottom: 1px solid #7D7D7E;
  }
  
  .add-bookmark-modal-header h2 {
    margin: 0;
  }
  
  .add-bookmark-close-btn {
    background-color: transparent;
    border: none;
    font-size: 18px; /* 닫기 버튼 크기 */
  }
  
  .add-bookmark-modal-body {
    margin: 20px 5px 5px 5px;/* 헤더와 본문 간격 */
    text-align: left;
  }
  
  .add-bookmark-label {
    display: block; /* 각 라벨을 블록 요소로 설정 */
    margin-top: 16px; /* 위 요소와 간격 */
    font-size: 14px; /* 폰트 크기 */
    color: #333; /* 글자 색상 */
  }
  
  .add-bookmark-input,
  .add-bookmark-textarea {
    width: calc(100% - 20px); /* 입력란 너비를 모달 가로 크기에 맞춤 */
    padding: 10px; /* 내부 여백 */
    margin-top: 8px; /* 라벨과 간격 */
    font-size: 14px; /* 폰트 크기 */
  }
  
  .add-bookmark-textarea {
    resize: none; /* 크기 조절 비활성화 */
  }
  
  .add-bookmark-radio-group {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
  }
  
  .add-bookmark-radio-group label {
    font-size: 14px; /* 폰트 크기 */
  }
  
  .add-bookmark-radio-group input[type='radio'] {
      margin-right :5 px ;
  }
  
  .add-bookmark-input,
  .add-bookmark-textarea {
    width: calc(100% - 20px); /* 입력란 너비를 모달 가로 크기에 맞춤 */
    padding: 10px; /* 내부 여백 */
    margin-top: 8px; /* 라벨과 간격 */
    font-size: 14px; /* 폰트 크기 */
    border: 1px solid #ddd; /* 테두리 색상 */
    border-radius: 5px; /* 모서리 둥글게 */
  }
  
  .add-bookmark-textarea {
    resize: none; /* 크기 조절 비활성화 */
  }
  
  .add-bookmark-radio-group {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
  }
  
  .add-bookmark-radio-group label {
    font-size: 14px; /* 폰트 크기 */
  }
  
  .add-bookmark-radio-group input[type='radio'] {
    margin-right: 8px; /* 라디오 버튼과 텍스트 간격 */
  }
  
  .add-bookmark-modal-footer {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽 정렬 */
    gap: 8px;
  }
  
  .add-bookmark-cancel-btn,
  .add-bookmark-save-btn {
      padding : 5px 8px ;
      margin: 10px 0 0 0;
      border-color: #7D7D7E;
      background: white;
      border-radius: 4px;
  }