.modal-overlay {
  position: fixed; /* 화면 전체를 덮도록 설정 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
  display: flex; /* 중앙 정렬을 위한 flexbox 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.bookmark-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    z-index: 1000; /* 최상위 레이어 */
    padding: 20px;
}
  
  .bookmark-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #7D7D7E;
  }
  
  .bookmark-header h2 {
    margin: 0;
  }
  
  .bookmark-close-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
  }
  
  .bookmark-content {
    padding: 16px;
  }

  .bookmark-name {
    font-size: 18px;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .bookmark-item {
    display: flex;
    align-items: center;
  }

  .bookmark-item input[type="checkbox"] {
    width: 18px; /* 체크박스 너비 */
    height: 18px; /* 체크박스 높이 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  }
  
  .bookmark-lock-icon {
    margin-left: auto;
  }
  
  .bookmark-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }
  
  .add-bookmark-btn,
  .save-bookmark-btn {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .add-bookmark-btn {
    background-color: white;
    border: 1px solid #7d7d7e;
    color: #7d7d7e;
  }
  
  .save-bookmark-btn {
    background-color: #7d7d7e;
    border: 1px solid #7d7d7e;
    color: white;
  }

  /* 스크롤바 숨기기 */
.bookmark-modal::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.bookmark-modal {
  scrollbar-width: none; /* Firefox */
}