/* src/styles/TextStyle.css */
:root {
  /* Gray Scale */
  --color-dark-gray: #7D7D7E;
  --color-gray: #CEC7C7;
  
  /* Yellow */
  --color-yellow: #FFE79B;
  
  /* Red */
  --color-fire: #FF4C4C;
  
  /* Blue Scale */
  --color-dark-blue: #00518D;
  --color-blue: #0072EF;
  --color-light-blue: #D9E9FF;
  --color-card-bg: #F4FAFF;
  
  /* Purple Scale */
  --color-dark-purple: #6D0FAF;
  --color-purple: #9336B4;
  --color-light-purple: #DD58D6;
  
  /* Other Colors */
  --color-green: #15F5BA;
  --color-pink: #FFBECA;
}
