.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
  height: 44px;
}

.search-bar-input {
  width: 250px;
  padding: 12px 16px;
  border: none;
  font-size: 14px;
  color: #535353;
  background-color: transparent;
}

.search-bar-input::placeholder {
  color: #9aa6b2;
}

.search-bar-input:focus {
  outline: none;
}

.search-bar-icon {
  height: 100%;
  width: 44px; /* 40px에서 44px로 변경하여 정사각형 모양 유지 */
  color: white;
  background-color: #BCCCDC;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 11px; /* 아이콘 주변 여백 추가 */
}

