/* === 검색바 컨테이너 스타일 === */
.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden; /* 내부 요소가 컨테이너를 벗어나지 않도록 설정 */
  height: 44px;
  min-width: 300px; /* 검색바의 최소 너비 설정 */
  max-width: 500px; /* 검색바의 최대 너비 설정 */
  width: 100%;
}

/* === 검색 입력창 스타일 === */
.search-bar-input {
  width: calc(100% - 44px); /* 검색 아이콘 너비를 제외한 전체 너비 */
  padding: 12px 16px;
  border: none;
  font-size: 14px;
  color: #535353;
  background-color: transparent;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임표 표시 */
}

/* 플레이스홀더 스타일 */
.search-bar-input::placeholder {
  color: #9aa6b2;
}

/* 포커스 시 아웃라인 제거 */
.search-bar-input:focus {
  outline: none;
}

/* === 검색 아이콘 스타일 === */
.search-bar-icon {
  flex-shrink: 0; /* 아이콘 크기 고정 */
  height: 100%;
  width: 44px;
  color: white;
  background-color: #BCCCDC;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 11px;
}