.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50em;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  padding-bottom: 2rem;
}

.modal-close-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
}

.content-header {
  display: flex;
  align-items: end;
  margin-bottom: 2rem;
  justify-content: center;
}

.content-title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 24px;
  font-weight: bolder;
}

.content-title-icon {
  width: 24px;
  height: 24px;
  align-self: anchor-center;
}

.content-title-text{
  padding-left: 0.5em;
}

.follow-list {
  list-style: none;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
  
}

.follow-item {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}

.follow-item-left{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-info{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 2em;
}

.user-name-streak{
  display: flex;
  gap: 10px;
}

.user-name{
  font-size: 16px;
}

.user-job{
  font-size: 14px;
}

.text-red{
  color: red;
  font-weight: bold;
}

.streak{
  display: flex;
  align-items: center;
}

.streak-img{
  width: 20px;
  height: 20px;
}

.unfollow-btn {
  background: gray;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.unfollow-btn:hover {
  background: darkgray;
}

.profile-avatar {
  width: 52px;
  height: 52px;
  border: 1px solid #0072ef; /* 파란색 테두리 */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* 배경색 */
  font-size: 14px;
  color: #666; /* 기본 텍스트 색상 */
}