.section-container{
  /* padding: 10px; */
  min-width: 400px;
}

.section-title{
  display: flex;
  justify-self: start;
  padding-bottom: 0.8rem;
  font-size: 28px;
  font-weight: bolder;
  /* align-items: center; */
}

.section-title .section-title-icon{
  width: 20px;
  height: 20px;
}

.section-title .section-title-text{
  padding-left: 0.4em;
}

.section-content{
  border: 2px solid #D9E9FF;
  border-radius: 8px;
  padding: 12px;
  display: flex;
}
