/* pages/AllQuestionPage.css */
/* 페이지 전체 컨테이너 스타일 */
.question-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}

/* 필터 컨테이너 스타일 */
.filter-container {
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  position: relative;
  gap: 16px;
}

/* 검색바와 상태 필터 섹션 스타일 */
.search-status-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
  min-width: fit-content; 
  flex-wrap: nowrap; 
}

/* 검색바 래퍼 스타일 */
.search-wrapper {
  margin-left: auto;
  width: fit-content;
  flex-shrink: 0; /* 크기 축소 방지 */
}


html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
}
