/* Pages/HomePage.css */
.home-page {
  padding: 40px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.question-cards {
  display: flex;
  flex-wrap: wrap; /* 화면 크기가 작아지면 자동으로 줄바꿈 */
  justify-content: center; /* 중앙 정렬 */
  gap: 4em;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
  .question-cards {
    justify-content: center;
  }
}
