.home-page {
  padding: 40px 40px;
  width: 1200px;
  margin: 0 auto;
}

.question-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em; /* 4em에서 2em으로 갭 축소 */
}

.today-section,
.top10-section {
  margin-bottom: 60px;
  width: 100%;
}

.top10-section {
  margin-top: 60px;
}

.gold-trophy-icon {
  color: #FFD700;
}

.question-cards {
  margin-top: 24px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.job-badge {
  padding: 6px 12px;
  border: 1px solid #000;
  font-size: 18px;
  font-weight: 500;
}

.filter-container {
  margin-bottom: 24px;
}

.filter-buttons {
  display: flex;
}

.more-button {
  color: #666;
  font-size: 12px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: right; /* 오른쪽 정렬 */
  margin-left: auto; /* 왼쪽 여백 자동 설정 */
  margin-bottom: 8px; /* 아래로 추가 간격 */
  margin-top: -20px;
  display: block; /* 블록 요소로 변경 */
}


.cards-container {
  width: 100%; /* 좌우 패딩을 제외한 너비 설정 */
  margin: auto; /* 가운데 정렬 */
}

.cards-wrapper {
  display: grid; /* 그리드 레이아웃 사용 */
  grid-template-columns: repeat(5, minmax(194px, auto)); /* 카드가 한 줄에 최대 5개 배치되도록 설정 */
  gap: 20px 10px; /* 카드 간격 (가로 및 세로) */
}


/* 반응형 디자인 개선 */
@media (max-width: 1280px) {
  .question-cards {
    gap: 1.5em;
  }
}

@media (max-width: 1024px) {
  .home-page {
    padding: 40px 20px;
  }
  
  .question-cards {
    gap: 1em;
  }
}

.question-cards.--unLogined{
  filter: blur(0.5rem);
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

.unlogin-text{
  display: none;
}


.unlogin-text.--unLogined {
  display: block;
  position: absolute;
  z-index: 20;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.unlogin-info-section-1{
  padding-top: 2rem;
}

.unlogin-service-info-img-1{
  width: 80%;
}

.unlogin-info-section-2 {
  width: 100vw;  /* ✅ 화면 전체 너비로 확장 */
  background-color: #F4FAFF;
  position: relative; /* ✅ 부모 컨텍스트를 유지하면서 전체 너비 설정 */
  left: 50%;
  transform: translateX(-50%); /* ✅ 가운데 정렬 */
}

.unlogin-info-section-2 .service-info{
  padding: 3rem 2em;
  display: flex;
  justify-content: space-around;
}


.unlogin-info-section-2 .service-info{
  align-items: center;
  padding: 3rem 2em;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.unlogin-info-section-2 .service-info .service-info-img{
  width: 35%;
}

.unlogin-info-section-2 .service-info .service-info-img img{
  width: 100%;
}

.unlogin-info-section-2 .service-info .service-info-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: start;
}

.service-info-text-div{
  height: fit-content;
  width: 30em;
  padding: 0.5rem 1em;
  border-radius: 8px;
  background-color: white;
}