.social-login {
  margin: 1rem 0;
  text-align: center;
  position: relative;
  padding-top: 1rem;
}

.social-login::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #E5E5E5;
}


.social-title {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1.2rem;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.social-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}


.social-button {
  width: auto;
  height: auto;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.naver {
  width: 52px;
  height: 52px;
  background-color: #03C75A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.naver img {
  width: 32px;
  height: 32px;
}

.kakao img,
.google img {
  width: 52px;
  height: 52px;
}

.kakao,
.google {
  background: none;
  border: none;
}


.social-label {
  font-size: 1rem;
  color: #666;
}

