/* src/components/ArticleSearchBar/ArticleSearchBar.css */

/* 검색창 컨테이너 스타일 */
.article-search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    height: 44px;
    width: 100%;
  }
  
  /* 입력 필드 스타일 */
  .article-search-input {
    flex-grow: 1;
    padding: 12px;
    border: none;
    font-size: 14px;
  }
  
  .article-search-input::placeholder {
    color: #9aa6b2; /* 플레이스홀더 색상 */
  }
  
  .article-search-input:focus {
    outline: none; /* 포커스 시 아웃라인 제거 */
  }
  
  /* 검색 아이콘 스타일 */
  .article-search-icon {
    flex-shrink: 0; /* 크기 고정 */
    width: 44px;
    height: auto;
  }
  