* {
  box-sizing: border-box;
  font-family: 'NotoSansKR-VariableFont', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.main-page {
  width: 100%;
  height: 100%;
  display: flex;
}

.child-page {
  /*width: calc(100% - 50px); /* 기본: 사이드바 닫힘 상태 */
  /*margin-left: 50px; /* 사이드바 닫힘 상태 */

  width: calc(100% - 250px); /* 사이드바가 열려 있을 때 */
  margin-left: 250px; /* 사이드바 열려 있을 때 */
  margin-right: 0px;
  padding: 15px;
  height: 100%;
  word-break: break-word;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.child-page.child-page--close{
  width: calc(100% - 70px);
  margin-left: 70px;
}


@font-face {
  font-family: 'NotoSansKR-VariableFont';
  src: url('./assets/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}
