.article-list table {
  width: 100%;
  border-collapse: collapse;
}

.article-list th {
  padding: 14px;
  text-align: center;
  position: relative;
}

/* 상단 탭 스타일 */
.article-list th {
  background-color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  border-top: 2px solid #d9e9ff;
  border-bottom: 2px solid #d9e9ff;
  cursor: pointer;
}

.article-list th:hover {
  background-color: #f8f9fa;
}

/* 게시글 목록 스타일 */
.article-list td {
  padding: 13px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #d9e9ff;
}

.article-list tbody tr:hover {
  background-color: #e9ecef;
}

.article-list td {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

/* 제목은 왼쪽 정렬 */
.article-list td:nth-child(2) {
  text-align: left;
}

.article-list td:nth-child(1) {
  width: 150px;
}

/* 작성일, 댓글 수, 조회 수 컬럼 스타일 */
.article-list th:nth-child(3),
.article-list th:nth-child(4),
.article-list th:nth-child(5),
.article-list td:nth-child(3),
.article-list td:nth-child(4),
.article-list td:nth-child(5) {
  width: 110px;
  text-align: center;
}

/* 카테고리 색상 (남색) */
.article-list td:first-child {
  color: #00518d;
  font-weight: bold;
}

/* 정렬 아이콘 스타일 */
.article-list th::after {
  content: '▽';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.7em; /* 삼각형 크기 축소 */
  color: #ccc; /* 비활성화 상태 색상 */
}

.article-list th.active::after {
  content: '▼';
  color: #000; /* 활성화 상태 색상 */
}

.article-list th.active[data-order="asc"]::after {
  content: '▲';
}

/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px;
  margin: 0px 4px;
}

.pagination button.active {
  background-color: #007bff;
}

/* 게시글 없음 메시지 스타일 */
.no-articles-message {
  text-align: center;
  font-size: 16px;
  color: #7d7d7e;
  margin-top: 20px;
}