.article-file-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start; /* 왼쪽 정렬 */
}
.article-file-select-button:hover {
  background-color: #c5c5c5;
}

.article-selected-image {
  display: flex;
  align-items: center;
  gap: 5px;
}

.file-name {
  font-size: 14px;
  color: #333;
}

.article-remove-image-btn {
  border:none;
  background: white;
}

.article-remove-image-btn:hover {
  background-color: #c5c5c5;
}

.article-image-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
